<div class="container">
  <h1>Flats available in "athens"</h1>
</div>

<div class="container">

  <div class="d-flex justify-content-around">

    <div class="card-flat" class="pt-5" class="mw-100" class="mh-100">
      <img src="https://q-xx.bstatic.com/xdata/images/hotel/max1024x768/296470766.jpg?k=ad01a76e86799cb27e099b8db5e4e5d1506a9184ebaa74c225a6b477fbad87e7&o=" />
        <div class="card-flat-infos">
          <div>
            <h2>Lovely flat in Athens</h2>
              <p>Flat with a view into the Acropole</p>
          </div>
          <h2 class="card-flat-pricing">199.99€</h2>
          <img src="https://www.pngmart.com/files/21/Account-User-PNG-Clipart.png" class="card-flat-user avatar-bordered" />
        </div>
        <div class="container">
        <div class="d-flex justify-content-around"><div><%= link_to "View more", "/rooms/:id", class: "btn btn-flat" %></div></div>
        </div>
    </div>

    <div class="card-flat" class="pt-5" class="mw-100" class="mh-100">
      <img src="https://q-xx.bstatic.com/xdata/images/hotel/max1024x768/296470766.jpg?k=ad01a76e86799cb27e099b8db5e4e5d1506a9184ebaa74c225a6b477fbad87e7&o=" />
        <div class="card-flat-infos">
          <div>
            <h2>Lovely flat in Athens</h2>
              <p>Flat with a view into the Acropole</p>
          </div>
          <h2 class="card-flat-pricing">199.99€</h2>
          <img src="https://www.pngmart.com/files/21/Account-User-PNG-Clipart.png" class="card-flat-user avatar-bordered" />
        </div>
        <div class="container">
        <div class="d-flex justify-content-around"><div><%= link_to "View more", "#", class: "btn btn-flat" %></div></div>
        </div>
    </div>

    <div class="card-flat" class="pt-5" class="mw-100" class="mh-100">
      <img src="https://q-xx.bstatic.com/xdata/images/hotel/max1024x768/296470766.jpg?k=ad01a76e86799cb27e099b8db5e4e5d1506a9184ebaa74c225a6b477fbad87e7&o=" />
        <div class="card-flat-infos">
          <div>
            <h2>Lovely flat in Athens</h2>
              <p>Flat with a view into the Acropole</p>
          </div>
          <h2 class="card-flat-pricing">199.99€</h2>
          <img src="https://www.pngmart.com/files/21/Account-User-PNG-Clipart.png" class="card-flat-user avatar-bordered" />
        </div>
        <div class="container">
        <div class="d-flex justify-content-around"><div><%= link_to "View more", "#", class: "btn btn-flat" %></div></div>
        </div>
    </div>

    <div class="card-flat" class="pt-5" class="mw-100" class="mh-100">
      <img src="https://q-xx.bstatic.com/xdata/images/hotel/max1024x768/296470766.jpg?k=ad01a76e86799cb27e099b8db5e4e5d1506a9184ebaa74c225a6b477fbad87e7&o=" />
        <div class="card-flat-infos">
          <div>
            <h2>Lovely flat in Athens</h2>
              <p>Flat with a view into the Acropole</p>
          </div>
          <h2 class="card-flat-pricing">199.99€</h2>
          <img src="https://www.pngmart.com/files/21/Account-User-PNG-Clipart.png" class="card-flat-user avatar-bordered" />
        </div>
        <div class="container">
        <div class="d-flex justify-content-around"><div><%= link_to "View more", "#", class: "btn btn-flat" %></div></div>
        </div>
    </div>
  </div>


<div class="container">

  <div class="d-flex justify-content-around">

    <div class="card-flat" class="pt-5" class="mw-100" class="mh-100">
      <img src="https://q-xx.bstatic.com/xdata/images/hotel/max1024x768/296470766.jpg?k=ad01a76e86799cb27e099b8db5e4e5d1506a9184ebaa74c225a6b477fbad87e7&o=" />
        <div class="card-flat-infos">
          <div>
            <h2>Lovely flat in Athens</h2>
              <p>Flat with a view into the Acropole</p>
          </div>
          <h2 class="card-flat-pricing">199.99€</h2>
          <img src="https://www.pngmart.com/files/21/Account-User-PNG-Clipart.png" class="card-flat-user avatar-bordered" />
        </div>
        <div class="container">
        <div class="d-flex justify-content-around"><div><%= link_to "View more", "#", class: "btn btn-flat" %></div></div>
        </div>
    </div>

    <div class="card-flat" class="pt-5" class="mw-100" class="mh-100">
      <img src="https://q-xx.bstatic.com/xdata/images/hotel/max1024x768/296470766.jpg?k=ad01a76e86799cb27e099b8db5e4e5d1506a9184ebaa74c225a6b477fbad87e7&o=" />
        <div class="card-flat-infos">
          <div>
            <h2>Lovely flat in Athens</h2>
              <p>Flat with a view into the Acropole</p>
          </div>
          <h2 class="card-flat-pricing">199.99€</h2>
          <img src="https://www.pngmart.com/files/21/Account-User-PNG-Clipart.png" class="card-flat-user avatar-bordered" />
        </div>
        <div class="container">
        <div class="d-flex justify-content-around"><div><%= link_to "View more", "#", class: "btn btn-flat" %></div></div>
        </div>
    </div>

    <div class="card-flat" class="pt-5" class="mw-100" class="mh-100">
      <img src="https://q-xx.bstatic.com/xdata/images/hotel/max1024x768/296470766.jpg?k=ad01a76e86799cb27e099b8db5e4e5d1506a9184ebaa74c225a6b477fbad87e7&o=" />
        <div class="card-flat-infos">
          <div>
            <h2>Lovely flat in Athens</h2>
              <p>Flat with a view into the Acropole</p>
          </div>
          <h2 class="card-flat-pricing">199.99€</h2>
          <img src="https://www.pngmart.com/files/21/Account-User-PNG-Clipart.png" class="card-flat-user avatar-bordered" />
        </div>
        <div class="container">
        <div class="d-flex justify-content-around"><div><%= link_to "View more", "#", class: "btn btn-flat" %></div></div>
        </div>
    </div>

    <div class="card-flat" class="pt-5" class="mw-100" class="mh-100">
      <img src="https://q-xx.bstatic.com/xdata/images/hotel/max1024x768/296470766.jpg?k=ad01a76e86799cb27e099b8db5e4e5d1506a9184ebaa74c225a6b477fbad87e7&o=" />
        <div class="card-flat-infos">
          <div>
            <h2>Lovely flat in Athens</h2>
              <p>Flat with a view into the Acropole</p>
          </div>
          <h2 class="card-flat-pricing">199.99€</h2>
          <img src="https://www.pngmart.com/files/21/Account-User-PNG-Clipart.png" class="card-flat-user avatar-bordered" />
        </div>
        <div class="container">
        <div class="d-flex justify-content-around"><div><%= link_to "View more", "#", class: "btn btn-flat" %></div></div>
        </div>
    </div>
  </div>


<div class="container">

  <div class="d-flex justify-content-around">

    <div class="card-flat" class="pt-5" class="mw-100" class="mh-100">
      <img src="https://q-xx.bstatic.com/xdata/images/hotel/max1024x768/296470766.jpg?k=ad01a76e86799cb27e099b8db5e4e5d1506a9184ebaa74c225a6b477fbad87e7&o=" />
        <div class="card-flat-infos">
          <div>
            <h2>Lovely flat in Athens</h2>
              <p>Flat with a view into the Acropole</p>
          </div>
          <h2 class="card-flat-pricing">199.99€</h2>
          <img src="https://www.pngmart.com/files/21/Account-User-PNG-Clipart.png" class="card-flat-user avatar-bordered" />
        </div>
        <div class="container">
        <div class="d-flex justify-content-around"><div><%= link_to "View more", "#", class: "btn btn-flat" %></div></div>
        </div>
    </div>

    <div class="card-flat" class="pt-5" class="mw-100" class="mh-100">
      <img src="https://q-xx.bstatic.com/xdata/images/hotel/max1024x768/296470766.jpg?k=ad01a76e86799cb27e099b8db5e4e5d1506a9184ebaa74c225a6b477fbad87e7&o=" />
        <div class="card-flat-infos">
          <div>
            <h2>Lovely flat in Athens</h2>
              <p>Flat with a view into the Acropole</p>
          </div>
          <h2 class="card-flat-pricing">199.99€</h2>
          <img src="https://www.pngmart.com/files/21/Account-User-PNG-Clipart.png" class="card-flat-user avatar-bordered" />
        </div>
        <div class="container">
        <div class="d-flex justify-content-around"><div><%= link_to "View more", "#", class: "btn btn-flat" %></div></div>
        </div>
    </div>

    <div class="card-flat" class="pt-5" class="mw-100" class="mh-100">
      <img src="https://q-xx.bstatic.com/xdata/images/hotel/max1024x768/296470766.jpg?k=ad01a76e86799cb27e099b8db5e4e5d1506a9184ebaa74c225a6b477fbad87e7&o=" />
        <div class="card-flat-infos">
          <div>
            <h2>Lovely flat in Athens</h2>
              <p>Flat with a view into the Acropole</p>
          </div>
          <h2 class="card-flat-pricing">199.99€</h2>
          <img src="https://www.pngmart.com/files/21/Account-User-PNG-Clipart.png" class="card-flat-user avatar-bordered" />
        </div>
        <div class="container">
        <div class="d-flex justify-content-around"><div><%= link_to "View more", "#", class: "btn btn-flat" %></div></div>
        </div>
    </div>

    <div class="card-flat" class="pt-5" class="mw-100" class="mh-100">
      <img src="https://q-xx.bstatic.com/xdata/images/hotel/max1024x768/296470766.jpg?k=ad01a76e86799cb27e099b8db5e4e5d1506a9184ebaa74c225a6b477fbad87e7&o=" />
        <div class="card-flat-infos">
          <div>
            <h2>Lovely flat in Athens</h2>
              <p>Flat with a view into the Acropole</p>
          </div>
          <h2 class="card-flat-pricing">199.99€</h2>
          <img src="https://www.pngmart.com/files/21/Account-User-PNG-Clipart.png" class="card-flat-user avatar-bordered" />
        </div>
        <div class="container">
        <div class="d-flex justify-content-around"><div><%= link_to "View more", "#", class: "btn btn-flat" %></div></div>
        </div>
    </div>
  </div>



  <div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Stay Relax, Stay Flex
  </div>
</div>





<ul>
  <% @rooms.each do |room| %>
    <li>
      <%= link_to room.title, room %>
      <p><%= room.description %></p>
      <p><strong>Price:</strong> <%= room.price %></p>
    </li>
  <% end %>
</ul>

<%# <><%= link_to "Add a New Room", new_room_path #%>
